<div class="container-fluid mt-4 mx-auto">
    <div class="row my-4 ms-3">
        <div class="col-12">
            <h1 class="text-primary">Todos los registros</h1>
            <p>Como usuario podras ver todos los registros creados, filtrar a conveniencia.</p>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    +Opciones
                </button>
            </div>
        </div>
        <form>
            <div class="collapse" id="collapseExample">
                <div class="row py-2 my-3 border-top">
                    <div class="col-3 col-sm-4 col-md-5 col-lg-4 col-xl-3 mb-3 me-2">
                            <div class="input-group input-group-sm date mb-1" id="datepicker">
                                <span class="input-group-text input-group-append">Desde:</span>
                                <input type="text" class="form-control">
                                <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                            </div>
                            <div class="input-group input-group-sm date" id="datepicker2">
                                <span class="input-group-text input-group-append">Hasta:</span>
                                <input type="text" class="form-control">
                                <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                            </div>
                    </div>
                    <div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-1 mb-3 me-1">
                        <button type="button" class="btn btn-sm btn-secondary mb-1" style="width: 100%">Filtrar</button>
                        <button type="button" class="btn btn-sm btn-secondary" style="width: 100%">Default</button>
                    </div>
                    <div class="col-2 col-sm-3 col-md-3 col-lg-3 col-xl-2 mb-3">
                        <button type="button" class="btn btn-sm btn-secondary mb-1" style="width: 100%">Comentarios</button>
                        <button type="button" class="btn btn-sm btn-secondary" style="width: 100%">Mas Columnas</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid d-flex justify-content-center bg-light py-3 mb-5 mx-auto">
    <div class="row">
        <div class="col-12">
            <table id="miTablet" class="table table-sm table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>Fecha</th>
                        <th class="dato-oc">Usuario</th>
                        <th>Tipo</th>
                        <th>OT</th>
                        <th>Nombre_Cliente</th>
                        <th>Apellido_cliente</th>
                        <th>Identificacion</th>
                        <th class="dato-oc">Contrato</th>
                        <th class="dato-oc">Direccion</th>
                        <th class="dato-oc">Telefono</th>
                        <th>Equipoi</th>
                        <th>Equipor</th>
                        <th class="dato-oc">Comentario</th>
                        <th>Estado</th>
                        <th>Administrador</th>
                        <th>Agregar</th>
                    </tr>
                </thead>
                <tbody>
                    <% registros.forEach(registro => {%>
                    <tr>
                    <% let fecha = registro.fecha;
                        let fechaCompleta = ('0'+fecha.getDate()).slice(-2)+'/'+('0'+fecha.getMonth()).slice(-2)+'/'+fecha.getFullYear();
                        %>
                        <td><%= fechaCompleta%></td>
                        <td class="dato-oc"><%= registro.usuario %></td>
                        <td><%= registro.tipo %></td>
                        <td><%= registro.ot %></td>
                        <td><%= registro.nombre_cliente %></td>
                        <td><%= registro.apellido_cliente %></td>
                        <td><%= registro.identificacion %></td>
                        <td class="dato-oc"><%= registro.contrato %></td>
                        <td class="dato-oc"><%= registro.direccion %></td>
                        <td class="dato-oc"><%= registro.telefono %></td>
                        <td><%= registro.equipoi %></td>
                        <td><%= registro.equipor %></td>
                        <td class="dato-oc"><%= registro.comentario %></td>
                        <td><%= registro.estado %></td>
                        <td><%= registro.administrador %></td>
                        <td><a href="/mis-registros/<%= registro.id %>/edit" class="btn btn-outline-secondary btn-sm">comentar</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>



