<div class="container-fluid mt-4 mx-auto">
    <div class="row my-4 ms-3">
        <div class="col-12">
            <h1>Todos los registros</h1>
            <p>Como usuario podras ver todos los registros creados.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-md bg-primary text-dark bg-opacity-25 rounded-top border-bottom border-primary border-2 nav-filtros">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Filtrar Tipo
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/mis-registros/Instalacion">Instalacion</a></li>
                                    <li><a class="dropdown-item" href="/mis-registros/Service">Service</a></li>
                                    <li><a class="dropdown-item" href="/mis-registros/Solicitar Datos">Solicitud de Datos</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/mis-registros">Todos</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-eye me-2 me-1" id="navcolumn"></i>Columnas Datos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-eye me-2 me-1" id="navcolumn"></i>Comentarios</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control form-control-sm me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-primary btn-sm" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid table-responsive">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover align-middle m-0" style="white-space: nowrap; overflow-x: auto;">
                <thead>
                    <tr class="table-primary">
                        <th>Fecha</th>
                        <th class="dato-oc"><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Usuario</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Tipo<i class="bi bi-funnel ms-1" id="fcolumn"></i></th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>OT</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Nombre_Cliente</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Apellido_cliente</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Identificacion</th>
                        <th class="dato-oc">Contrato</th>
                        <th class="dato-oc">Direccion</th>
                        <th class="dato-oc">Telefono</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Equipoi</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Equipor</th>
                        <th class="dato-oc">Comentario</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Estado</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Administrador</th>
                        <th><i class="bi bi-eye me-2 me-1" id="fcolumn"></i>Agregar</th>
                    </tr>
                </thead>
                <tbody>
                    <% registros.forEach(registro => {%>
                    <tr>
                    <% let fecha = registro.fecha;
                        let fechaCompleta = ('0'+fecha.getDate()).slice(-2)+'/'+('0'+fecha.getMonth()).slice(-2)+'/'+fecha.getFullYear();
                        %>
                        <td><%= fechaCompleta%></td>
                        <td class="dato-oc"><%= registro.usuario %></td>
                        <td><%= registro.tipo %></td>
                        <td><%= registro.ot %></td>
                        <td><%= registro.nombre_cliente %></td>
                        <td><%= registro.apellido_cliente %></td>
                        <td><%= registro.identificacion %></td>
                        <td class="dato-oc"><%= registro.contrato %></td>
                        <td class="dato-oc"><%= registro.direccion %></td>
                        <td class="dato-oc"><%= registro.telefono %></td>
                        <td><%= registro.equipoi %></td>
                        <td><%= registro.equipor %></td>
                        <td class="dato-oc"><%= registro.comentario %></td>
                        <td><%= registro.estado %></td>
                        <td><%= registro.administrador %></td>
                        <td><a href="#" class="btn btn-outline-secondary btn-sm">comentar</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <span class="ps-4 mt-3">Total de registros <%= numOfResults%></span>
            <nav class="pe-4 mt-3" aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                    <% if (resultsPerPage < numOfResults) {%>
                    <% if(page> 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="/mis-registros/?page=<%=page-1%>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% } %>
                            <% for(let i=iterator; i <=endingLink; i++) { %>
                                <% if(i===page) { %>
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="/mis-registros/?page=<%=i%>">
                                            <%=i%>
                                        </a>
                                    </li>
                                    <% continue; %>
                                        <% } %>
                                        <%if (i > 0) {%>
                                            <li class="page-item"><a class="page-link"
                                                    href="/mis-registros/?page=<%=i%>">
                                                    <%=i%>
                                                </a></li>
                                            <% }} %>
                                                <% if(page < numberOfPages) { %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="/mis-registros/?page=<%=page+1%>"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    <% }} %>
                </ul>
            </nav>
        </div>
    </div>
</div>


